.footer {
  width: 100%;
  max-width: 102.4rem;
  font-size: 1.2rem;


  &__lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5rem;

  }

  &__list {
    list-style: none;
  }

  &__list-item {

    color: #003580;
   cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

  }


}